@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');

body {
  overflow-x: hidden;
  font-family: 'IBM Plex Sans', sans-serif !important;
  font-weight: normal;
}

.app {
  color: black;
  
  &-container{
    display: flex;
    flex-direction: column;
    align-content: center;

    /* background-color: rgb(124, 42, 42); */
    /* height: 1300px; */
  }
}

.d-none {
  display: none;
}

.font-noto {
  font-family: 'Noto Sans', sans-serif;
}

/* db json banner types
1- title text / bg color                                        funny, movies, todayilearned
2- title text / bg image                                        gaming
3- title image / bg image                                       announcements
4- title image / bg color                                       pics
5- title image hover change image / bg color                    askreddit
6- title none / bg image                                        science
7- title none / bg image shorter                                worldnews
8- title image center / bg image with banner_sub transparent    aww*/