// Colors
$postArea-bg-gray: #F3F3F3;

// Colors Night Mode
$night-postarea-bg: #030303;

.postArea {
    &-container {
        width: 100vw;
        background-color:  $postArea-bg-gray;

        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        padding-left: 17.9%;
        padding-right: 18.95%;
        padding-top: 20px;
        &--night {
            background-color:  $night-postarea-bg !important;
        }
    }
    &-left {
        width: 65.6%; 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    &-right {
        width: 34.4%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-left: 24px;
    }
}