// Colors
$header-blue--dark: #0079D3;
$header-blue--light: #7FBCE9;
$header-text: #1C1C1C;
$header-gray--dark: #878A8C;
$header-gray--middle: #E8E8E8;
$header-gray--light: rgb(246, 247, 248);

//Rounded
$header-border-radius: 4px;

.header {
    &-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 100vw;

        background-color: white;
        color: $header-text;

        position: fixed;
        top: 0;
        padding-bottom: 1px;
    }
    &-logo {
        width: 6%;

        background-image: url("../../img/reddit-logo-horizontal.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        height: 32px;

        margin-top: 7px;
        margin-bottom: 9px;
        margin-left: 20px;
        margin-right: 24px;
    }
    &-logo:hover {
        cursor: pointer;
    }
    &-subDrop {
        &-container {
            width: 17.8%;
            
            position: relative;
            display: inline-block;
        }
        &-button {
            width: 100%;

            padding: 6px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            border-radius: $header-border-radius;

            background-color: transparent;

            &--logo {
                border-radius: 100%;
                width: 22px;
                height: 22px;

                /* background-image: url("https://styles.redditmedia.com/t5_2szyo/styles/communityIcon_z7dkyeif8kzz.png"); */
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                margin-left: 4px;
                margin-right: 8px;
                margin-bottom: 2px;
            }
            &--title {
                font-size: 14px;
                font-weight: 500;
            }
            &--icon {
                font-size: 14px;
                color: $header-gray--dark;
                margin-left: auto;
                margin-right: 10px;
                margin-bottom: 6px;
            }
            &--dropOn {
                border: 1.5px solid $header-gray--light;
                border-bottom: none;
            }
            &--dropOn:hover {
                border: 1.5px solid $header-gray--light;
                border-bottom: none;
            }
            &--dropOff {
                border: 1.5px solid transparent;
            }
            &--dropOff:hover {
                border: 1.5px solid $header-gray--light;
            }
        }
        &-button:focus {
            outline: 0;
        }
        &-button:hover {
            cursor: pointer;
        }
        &-drop {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 2;
            background-color: white;

            padding-bottom: 16px;
            border-radius: 0 0 $header-border-radius $header-border-radius;
            margin-top: -3px;
            overflow-y: scroll;
            border: 1.5px solid $header-gray--light;
            border-top: none;
        }
    }
    &-searchBar {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        border: .5px solid $header-gray--light;
        border-radius: $header-border-radius;
        background-color: $header-gray--light;

        width: 41.5%;
        padding: 6px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 14px;

        font-size: 14px;
        font-weight: 400;
        &--icon {
            margin-left: 10px;
            margin-right: 6px;

            color: $header-gray--dark;
            font-size: 18px;
        }
        &--input {
            box-shadow: none;
            outline: none;
            border: none;
            background-color: transparent;

            width: 90%;
            padding-top: 2px;
        }
    }
    &-searchBar:focus, &-searchBar:hover{
        border: .5px solid $header-blue--dark;
        border-radius: $header-border-radius;
        background-color: white;
    }
    &-links {
        display: flex;
        justify-content: space-around;
        align-items: center;
    
        width: 5.8%;
    
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 8px;
        margin-top: 1px;
        margin-bottom: 3px;

        &--right {
            margin-left: 5px;
        }
    }
    &-links > div {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 9px;
        padding-left: 9px;

        border-radius: 1px;

        font-size: 16px;
        color: $header-text;
    }
    &-links > div:hover {
        background-color: $header-gray--middle;
        cursor: pointer;
    }
    &-access {
        width: 17.5%;
        padding-left: 6px;
        padding-right: 2px;
        border-left: 1.5px solid $header-gray--light;
        margin-top: 3px;
        margin-bottom: 5px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 12px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;

        &--login {
            border: 1px solid $header-blue--dark;
            background-color: white;
            color: $header-blue--dark;

            margin-left: 2px;
        }
        &--signup {
            border: 1px solid $header-blue--dark;
            background-color: $header-blue--dark;
            color: white;

            margin-right: 2px;
        }
        &--signup:hover, &--signup:active {
            border: 1px solid $header-blue--light;
            background-color: $header-blue--light;
            color: white;
        }
    }
    &-access > div {
        width: 46%;
        padding-top: 6px;
        padding-bottom: 6px;
        
        border-radius: $header-border-radius;
    }
    &-access > div:hover {
        cursor: pointer;
    }
    &-options {
        width: 4.5%;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        color: $header-gray--dark;
        font-size: 16px;

        padding: 3px;
        margin-left: 5px;

        border: 1.5px solid transparent;
        border-radius: $header-border-radius;

        &-icon--sortDown {
            margin-bottom: 2px;
            margin-left: 18px;
        }
    }
    &-options:hover {
        border: 1.5px solid $header-gray--light;

        cursor: pointer;
    }
    
}