// Colors
$header-blue--dark: #0079D3;
$header-blue--light: #7FBCE9;
$header-text: #1C1C1C;
$header-gray--dark: #878A8C;
$header-gray--middle--darker:#7A797C;
$header-gray--middle: #E8E8E8;
$header-gray--light: rgb(246, 247, 248);
$header-yellow: #ddbd37;
$header-orange: #ff4500;

// Colors Night Mode
$night-header-black: #1A1A1B;
$night-header-gray--dark: #272729;
$night-header-gray--middle--darker:#343536;
$night-header-gray--medium: #818384;
$night-header-gray--light: #D7DADC;
$night-header-gray--lighter: #EBECED;


//Rounded
$header-border-radius: 4px;

.header {
    &-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 100vw;

        background-color: white;
        color: $header-text;

        position: fixed;
        top: 0;
        padding-bottom: 1px;
        &--night {
            background-color: $night-header-black;
        }
    }
    &-logo {
        width: 6%;

        background-image: url("../../img/reddit-logo-horizontal.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        height: 32px;

        margin-top: 7px;
        margin-bottom: 9px;
        margin-left: 20px;
        margin-right: 24px;
        &--night {
            background-image: url("../../img/reddit-logo-horizontal--night.png");
        }
    }
    &-logo:hover {
        cursor: pointer;
    }
    &-subDrop {
        &-container {
            width: 17.8%;
            
            position: relative;
            display: inline-block;
        }
        &-button {
            width: 100%;

            padding: 6px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            border-radius: $header-border-radius;

            background-color: transparent;

            &--logo {
                border-radius: 100%;
                width: 22px;
                height: 22px;

                /* background-image: url("https://styles.redditmedia.com/t5_2szyo/styles/communityIcon_z7dkyeif8kzz.png"); */
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                margin-left: 4px;
                margin-right: 8px;
                margin-bottom: 2px;
            }
            &--title {
                font-size: 14px;
                font-weight: 500;
            }
            &--icon {
                font-size: 14px;
                color: $header-gray--dark;
                margin-left: auto;
                margin-right: 10px;
                margin-bottom: 6px;
            }
            &--dropOn {
                border: 1.5px solid $header-gray--light;
                border-bottom: 1.5px solid transparent;
                &--night, &--night:hover {
                    border: 1.5px solid $night-header-gray--middle--darker !important;
                    border-bottom: 1.5px solid transparent !important;
                }  
            }
            &--dropOn:hover {
                border: 1.5px solid $header-gray--light;
                border-bottom: 1.5px solid transparent;
            }
            &--dropOff {
                border: 1.5px solid transparent;
                &--night:hover {
                    border: 1.5px solid $night-header-gray--middle--darker !important;
                }
            }
            &--dropOff:hover {
                border: 1.5px solid $header-gray--light;
            }
            &--night {
                color: $night-header-gray--light;
            }
        }
        &-button:focus {
            outline: 0;
        }
        &-button:hover {
            cursor: pointer;
        }
        &-drop {
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 2;
            background-color: white;

            padding-bottom: 16px;
            border-radius: 0 0 $header-border-radius $header-border-radius;
            margin-top: -3px;
            overflow-y: scroll;
            border: 1.5px solid $header-gray--light;
            border-top: none;

            display: flex;
            flex-direction: column;
            font-size: 14px;
            font-weight: 400;
            &--filter {
                display: flex;
                align-items: center;
        
                border: .5px solid $header-gray--light;
                background-color: $header-gray--light;

                width: auto;
                margin: 16px 16px 0px;
                padding: 4px 0px 3px 7px;
                line-height: 21px;
                &--input {
                    box-shadow: none;
                    outline: none;
                    border: none;
                    background-color: transparent;
        
                    width: 100%;
                    padding-top: 2px;
                }
                &--night {
                    border: .5px solid $night-header-gray--middle--darker;
                    background-color: $night-header-gray--dark;
                }
                &--night:hover {
                    border: .5px solid $night-header-gray--light !important;
                    background-color: $night-header-black !important;
                }
            }
            &--filter:focus, &--filter:hover{
                border: .5px solid $header-blue--dark;
                background-color: white;
            }
            &--title {
                font-size: 10px;
                color: $header-gray--dark;
                padding: 16px 24px 8px;
            }
            &--button {
                width: 100%;
                color: $header-text;
                padding: 8px 24px;
                display: flex;
                align-items: center;
                &--night {
                    color: $night-header-gray--light;
                }
                &--night:hover {
                    background-color: $night-header-gray--dark !important;
                }
            }
            &--button:hover {
                cursor: pointer;
                background-color: $header-gray--light;
            }
            &--icon {
                color: $header-blue--dark;
                margin-right: 10px;
                font-size: 18px;
                &--yellow {
                    color: $header-yellow;
                }
                &--orange {
                    color: $header-orange;
                }
            }
            &--night {
                border: 1.5px solid $night-header-gray--middle--darker;
                border-top: none;
                background-color: $night-header-black;
            }
        }
    }
    &-searchBar {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        border: .5px solid $header-gray--light;
        border-radius: $header-border-radius;
        background-color: $header-gray--light;

        width: 41.5%;
        padding: 6px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 14px;

        font-size: 14px;
        font-weight: 400;
        &--icon {
            margin-left: 10px;
            margin-right: 6px;

            color: $header-gray--dark;
            font-size: 18px;
        }
        &--input {
            box-shadow: none;
            outline: none;
            border: none;
            background-color: transparent;

            width: 90%;
            padding-top: 2px;
        }
        &--night {
            border: .5px solid $night-header-gray--middle--darker;
            background-color: $night-header-gray--dark;
        }
        &--night:hover {
            border: .5px solid $night-header-gray--light !important;
            background-color: $night-header-black !important;
        }
    }
    &-searchBar:focus, &-searchBar:hover{
        border: .5px solid $header-blue--dark;
        border-radius: $header-border-radius;
        background-color: white;
    }
    &-links {
        display: flex;
        justify-content: space-around;
        align-items: center;
    
        width: 5.8%;
    
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 8px;
        margin-top: 1px;
        margin-bottom: 3px;

        &--right {
            margin-left: 5px;
        }
        &--night > div {
            color: $night-header-gray--light !important;
        }
        &--night > div:hover {
            background-color: $night-header-gray--dark !important;
        }
    }
    &-links > div {
        padding-top: 4px;
        padding-bottom: 4px;
        padding-right: 9px;
        padding-left: 9px;

        border-radius: 1px;

        font-size: 16px;
        color: $header-text;
    }
    &-links > div:hover {
        background-color: $header-gray--middle;
        cursor: pointer;
    }
    &-access {
        width: 17.5%;
        padding-left: 6px;
        padding-right: 2px;
        border-left: 1px solid $header-gray--light;
        margin-top: 3px;
        margin-bottom: 5px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 12px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;

        &--login {
            border: 1px solid $header-blue--dark;
            background-color: white;
            color: $header-blue--dark;

            margin-left: 2px;
            &--night {
                border: 1px solid $night-header-gray--light;
                background-color: $night-header-black;
                color: $night-header-gray--light;
            }
            &--night:hover {
                color: $night-header-gray--lighter;
            }
        }
        &--signup {
            border: 1px solid $header-blue--dark;
            background-color: $header-blue--dark;
            color: white;

            margin-right: 2px;
            &--night {
                border: 1px solid $night-header-black;
                background-color: $night-header-gray--light;
                color: $night-header-black;
            }
            &--night:hover {
                border: 1px solid $night-header-gray--lighter !important;
                background-color: $night-header-gray--lighter !important;
                color: $night-header-black !important;
            }
        }
        &--signup:hover, &--signup:active {
            border: 1px solid $header-blue--light;
            background-color: $header-blue--light;
            color: white;
        }
        &--night {
            border-left: 1px solid $night-header-gray--middle--darker !important;
        }
    }
    &-access > div {
        width: 46%;
        padding-top: 6px;
        padding-bottom: 6px;
        
        border-radius: $header-border-radius;
    }
    &-access > div:hover {
        cursor: pointer;
    }
    &-options {
        &-container {
            width: 4.5%;
            margin-left: 5px;
            position: relative;
            display: inline-block;
        }
        &-button {
            width: 100%;
            padding: 3px;
            padding-left: 6px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            border: 1.5px solid transparent;
            border-radius: $header-border-radius;
            color: $header-gray--dark;
            font-size: 16px;
            background-color: transparent;

            &--dropOn {
                border: 1.5px solid $header-gray--light;
                border-bottom: transparent;
                &--night, &--night:hover {
                    border: 1.5px solid $night-header-gray--middle--darker !important;
                    border-bottom: transparent !important;
                }  
            }
            &--dropOn:hover {
                border: 1.5px solid $header-gray--light;
                border-bottom: transparent;
            }
            &--dropOff {
                border: 1.5px solid transparent;
                &--night:hover {
                    border: 1.5px solid $night-header-gray--middle--darker !important;
                }
            }
            &--dropOff:hover {
                border: 1.5px solid $header-gray--light;
            }
            &--icon--sortDown {
                margin-bottom: 2px;
                margin-left: 16px;
            }
        }
        &-button:focus {
            outline: 0;
        }
        &-button:hover {
            cursor: pointer;
        }
        &-drop {
            position: absolute;
            top: 100%;
            right: -50%;
            width: 213px;
            z-index: 2;
            background-color: white;

            padding-top: 6px;
            border-radius: 0 0 $header-border-radius $header-border-radius;
            margin-top: -3px;
            overflow-x: hidden;
            border: 1.5px solid $header-gray--light;
            border-top: none;

            display: flex;
            flex-direction: column;
            &--title {
                padding: 8px 0px 4px 12px;
                font-size: 10px;
                font-weight: 700;
                letter-spacing: .5px;
                line-height: 12px;
                color: $header-gray--dark;
            }
            &--button {
                padding: 10px 16px 10px 16px;
                font-size: 14px;
                font-weight: 500;
                line-height: 18px;
                color: $header-text;
                display: flex;
                align-items: center;
                border: none;
                background-color: transparent;
                &--last {
                    border-top: 1.5px solid $header-gray--light;
                    &--night {
                        border-top: 1.5px solid $night-header-gray--middle--darker;
                    }
                }
                &--coins {
                    padding: 10px 16px 10px 16px;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 18px;
                    color: $header-text;
                    display: flex;
                    flex-direction: column;
                    &--above {
                        display: flex;
                        align-items: center;
                    }
                    &--below {
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 16px;
                        color: $header-gray--middle--darker;
                        margin-left: 30px;
                    }
                }
                &--night {
                    color: $night-header-gray--light;
                }
                &--night:hover, &--night:hover > div, &--night:hover > #opt-drop-icon, &--night:hover > div > #opt-drop-icon {
                    background-color: $night-header-gray--light !important;
                    color: $night-header-gray--dark !important;
                }
            }
            &--button:focus {
                outline: 0;
            }
            &--button:hover, &--button:hover > #opt-drop-icon, &--button--coins:hover, 
            &--button--coins:hover > div > #opt-drop-icon, &--button--coins:hover > div,  &--button:hover > div  {
                color: white;
                background-color: $header-orange;
                cursor: pointer;
            }
            &--icon {
                color: $header-gray--dark;
                margin-right: 13px;
                font-size: 17px;
                &--small {
                    color: $header-gray--middle--darker;
                    font-size: 9px;
                    margin-left: 6px;
                }
            }
            &--switch {
                margin-left: auto;
                height: 19px;
                width: 30px;
                border-radius: 10px;
                background-color: $header-gray--middle;
                display: flex;
                align-items: center;
                &--pin {
                    border-radius: 100%;
                    background-color: white;
                    width: 57%;
                    height: 90%;
                    border: 1px solid $header-gray--middle--darker;
                    box-shadow: 0 0 0 1px rgba(0,0,0,.1), 0 2px 3px 0 rgba(0,0,0,.2);
                }
            }
            &--night {
                border: 1.5px solid $night-header-gray--middle--darker;
                border-top: none;
                background-color: $night-header-black;
            }
        }
    }
}