// Colors
$navbar-blue--dark: #0079D3;
$navbar-blue--light: #7FBCE9;
$navbar-text: #1C1C1C;
$navbar-gray--dark: #878A8C;
$navbar-gray--middle: #E8E8E8;
$navbar-gray--light: rgb(246, 247, 248);

//Rounded
$navbar-border-radius: 4px;

.navbar {
    &-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 100vw;

        background-color: white;
        color: $navbar-text;
    }
    &-logo {
        width: 6%;

        background-image: url("../../img/reddit-logo-horizontal.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        height: 32px;

        margin-top: 8px;
        margin-bottom: 8px;
        margin-left: 20px;
        margin-right: 24px;
    }
    &-logo:hover {
        cursor: pointer;
    }
    &-sub-drop {
        width: 17.8%;

        padding: 6px;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        border-radius: $navbar-border-radius;

        border: 1.5px solid transparent;

        &--logo {
            width: 22px;
            height: 22px;

            background-image: url("https://styles.redditmedia.com/t5_2szyo/styles/communityIcon_z7dkyeif8kzz.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;

            margin-left: 4px;
            margin-right: 6px;
        }
        &--title {
            font-size: 14px;
            font-weight: 500;
        }
        &--icon {
            font-size: 14px;
            color: $navbar-gray--dark;
            margin-left: auto;
            margin-right: 10px;
            margin-bottom: 6px;
        }
    }
    &-sub-drop:hover {
        border: 1.5px solid $navbar-gray--light;
        
        cursor: pointer;
    }
    &-searchBar {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        border: .5px solid $navbar-gray--light;
        border-radius: $navbar-border-radius;
        background-color: $navbar-gray--light;

        width: 41.5%;
        padding: 6px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 12px;

        font-size: 14px;
        font-weight: 400;
        &--icon {
            margin-left: 10px;
            margin-right: 6px;

            color: $navbar-gray--dark;
            font-size: 18px;
        }
        &--input {
            box-shadow: none;
            outline: none;
            border: none;
            background-color: transparent;

            width: 90%;
        }
    }
    &-searchBar:focus, &-searchBar:hover{
        border: .5px solid $navbar-blue--dark;
        border-radius: $navbar-border-radius;
        background-color: white;
    }
    &-links {
        display: flex;
        justify-content: space-around;
        align-items: center;
    
        width: 5.8%;
    
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 8px;
        margin-bottom: 2px;

        &--right {
            margin-left: 5px;
        }
    }
    &-links > div {
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 9px;
        padding-left: 9px;

        border-radius: 1px;

        font-size: 16px;
        color: $navbar-text;
    }
    &-links > div:hover {
        background-color: $navbar-gray--middle;
        cursor: pointer;
    }
    &-access {
        width: 17.5%;
        padding-left: 6px;
        padding-right: 2px;
        border-left: 1px solid $navbar-gray--light;

        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 12px;
        font-weight: 700;
        letter-spacing: .5px;
        text-align: center;

        &--login {
            border: .5px solid $navbar-blue--dark;
            background-color: white;
            color: $navbar-blue--dark;

            margin-left: 2px;
        }
        &--signup {
            background-color: $navbar-blue--dark;
            color: white;

            margin-right: 2px;
        }
        &--signup:hover, &--signup:active {
            background-color: $navbar-blue--light;
            color: white;
        }
    }
    &-access > div {
        width: 46%;
        padding-top: 7px;
        padding-bottom: 7px;
        
        border-radius: $navbar-border-radius;
    }
    &-access > div:hover {
        cursor: pointer
    }
    &-options {
        width: 4.5%;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        color: $navbar-gray--dark;
        font-size: 15px;

        padding: 3px;
        margin-left: 5px;

        border: 1.5px solid transparent;
        border-radius: $navbar-border-radius;

        &-icon--sortDown {
            margin-bottom: 2px;
            margin-left: 18px;
        }
    }
    &-options:hover {
        border: 1.5px solid $navbar-gray--light;

        cursor: pointer;
    }
    
}