// Colors
$post-border: #CCCCCC;
$post-votes--text: #2F2F30;
$post-votes--up: #CC3700;
$post-votes--down: #5A75CC;
$post-icons--text: #878A8C;
$post-icons--bg: #E8E8E8;
$post-info--text: #787C7E;
$post-info--icon: #75D377;
$post-title--visited: #9B9B9B;
$post-description--text: #1A1A1B;

// Colors Night Mode
$night-post-container--border: #343536;
$night-post-container--bg: #1a1a1b;
$night-post-votes--bg: #161617;
$night-post-text--gray: #818384;
$night-post-text--white: #d7dadc;
$night-post-button--hover: #2D2D2E;

// Rounded
$post-border-radius: 4px;

.post {
    &-container {
        width: 100%;
        background-color: white;
    
        border: 1px solid $post-border;
        border-radius: $post-border-radius;
    
        margin-top: 10px;
        display: flex;

        &--night {
            background-color: $night-post-container--bg !important;
            border: 1px solid $night-post-container--border;
        }
        &--night:hover {
            border: 1px solid $night-post-text--gray !important;
        }
    }
    &-container:hover {
        cursor: pointer;
        border: 1px solid $post-icons--text;
    }
    &-votes {
        padding-top: 6px;

        display: flex;
        flex-direction: column;
        align-items: center;

        border-top-left-radius: $post-border-radius;
        border-bottom-left-radius: $post-border-radius;

        &--text {
            font-size: 12px;
            font-weight: 700;
            text-align: center;
            color: $post-votes--text;
            &--night {
                color: $night-post-text--white !important;
            }
        }
        &--icon {
            width: 62%;
            font-size: 15px;
            color: $post-icons--text;
            border-radius: $post-border-radius;

            display: flex;
            justify-content: center;
            align-items: center;

            margin-right: 14px;
            margin-left: 14px;

            padding-top: 5px;
            padding-bottom: 5px;
            &--up:hover {
                color: $post-votes--up;
            }
            &--down {
                margin-top: 1px;
            }
            &--down:hover {
                color: $post-votes--down;
            }
            &--night {
                color: $night-post-text--gray;
            }
            &--night:hover {
                background-color: $night-post-button--hover !important;
            }
        }
        &--icon:hover {
            background-color: $post-icons--bg;
            cursor: pointer;
        }
        &--night {
            background-color: $night-post-votes--bg !important;
        }
    }
    &-content {
        padding: 8px 8px 0px 0px;

        display: flex;
        flex-direction: column;
        flex-grow: 100;
    }
    &-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 12px;
        color: $post-info--text;
        padding-left: 6px;
        &--icon {
            color: $post-info--icon;
            margin-left: 8px;
        }
        &--night {
            color: $night-post-text--gray;
        }
    }
    &-title {
        font-size: 18px;
        font-weight: 500;
        color: $post-description--text;
        padding-top: 5px;
        padding-bottom: 10px;
        padding-left: 6px;

        &--night {
            color: $night-post-text--white;
        }
    }
    &-description {
        &-1 {
            font-size: 14px;
            font-weight: 400;
            color: $post-description--text;
            line-height: 21px;
            padding-left: 6px;

            &--night {
                color: $night-post-text--white;
            }
        }
        &-2 {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-left: 6px;
            &--image {
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                max-height: 512px;
                width: 100%;
            }
        }
    }
    &-options {
        display: flex;
        align-items: center;

        color: $post-icons--text;
        font-size: 12px;
        font-weight: 700;

        padding-bottom: 6px;
        &--pt {
            padding-top: 10px;
        }

        &--icon {
            font-size: 13px;
        }
        &--text {
            margin-left: 6px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        &--extra {
            font-size: 16px;
            line-height: 16px;
            padding-top: 2px;
            padding-bottom: 10px;
        }
        &--night {
            color: $night-post-text--gray;
        }
        &--night > div:hover {
            background-color: $night-post-button--hover !important;
        }
    }
    &-options > div {
        display: flex;
        align-items: center;
        margin-right: 2px;
        padding-left: 6px;
        padding-right: 6px;
    }
    &-options > div:hover {
        background-color: $post-icons--bg;
        cursor: pointer;
    }
}