// Colors
$banner-bg-shower: #66C9CC;
$banner-text-shower: #FCFCFB;
$banner-text-shower--links: #e4f6f6;
$banner-text-shower--links--hover: #EC4055;

// Colors Night Mode
$night-links-bg: #030303;
$night-links-text: #d7dadc;
$night-links-text--posts: #e9f5fd;

.banner {
    &-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        width: 100vw;
        /* overflow: hidden; */
        margin-top: 48px;
    }
    &-sub {
        width: 100%;
        /* background-color: $banner-bg-shower; */

        padding-left: 10.4%;
        padding-top: 22px;
        padding-bottom: 18px;

        display: flex;
        align-items: center;

        &--logo {
            padding: 2.5px;
            border-radius: 50%;
            background-color: $banner-text-shower;

            display: flex;
            justify-content: center;
            align-items: center;

            &--image {
            border-radius: 50%;
            width: 32px;
            height: 32px;

            /* background-image: url("https://styles.redditmedia.com/t5_2szyo/styles/communityIcon_z7dkyeif8kzz.png"); */
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            }
        }
        &--title {
            /* color: $banner-text-shower; */
            font-size: 22px;
            font-weight: 500;

            padding-bottom: 2px;
            padding-left: 8px;
        }
    }
    &-sub:hover {
        cursor: pointer;
    }
    &-links {
        width: 100%;
        /* background-color: $banner-bg-shower; */

        padding-left: 10.4%;

        display: flex;
        align-items: center;

        &--posts {
            /* border-bottom: 3px solid $banner-text-shower--links; */
            &--night {
                color: $night-links-text--posts !important;
                border-bottom: 3px solid $night-links-text--posts !important;
            }
            &--night:hover {
                color: $night-links-text !important;
                border-bottom: 3px solid $night-links-text !important;
            }
        }
        &--posts:hover {
            /* border-bottom: 3px solid $banner-text-shower--links--hover; */
        }
        &--other {
            border-bottom: 3px solid transparent;
            margin-left: 10px;
            &--night {
                color: $night-links-text !important;
            }
        }
        &--night {
            background-color: $night-links-bg !important;
        }
    }
    &-links > div {
        /* color: $banner-text-shower--links; */
        font-size: 14px;
        font-weight: 700;

        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 6px;
        padding-top: 9px;
    }
    &-links > div:hover {
        /* color: $banner-text-shower--links--hover; */
        cursor: pointer;
    }
}