// Colors
$banner-bg-shower: #66C9CC;
$banner-text-shower: #FCFCFB;
$banner-text-shower--links: #e4f6f6;
$banner-text-shower--links--hover: #EC4055;

// Colors Night Mode
$night-links-bg: #030303;
$night-links-text: #d7dadc;
$night-links-text--posts: #e9f5fd;

.banner {
    &-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        width: 100%;
        /* overflow: hidden;  */
        margin-top: 48px;
    }
    &-sub {
        &-1 {
            width: 100%;
            padding-left: 10.4%;
            padding-top: 22px;
            padding-bottom: 18px;
    
            display: flex;
            align-items: center;
            &--logo {
                padding: 2.5px;
                border-radius: 50%;
                background-color: $banner-text-shower;
    
                display: flex;
                justify-content: center;
                align-items: center;
    
                &--image {
                border-radius: 50%;
                width: 32px;
                height: 32px;
    
                /* background-image: url("https://styles.redditmedia.com/t5_2szyo/styles/communityIcon_z7dkyeif8kzz.png"); */
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                }
            }
            &--title {
                /* color: $banner-text-shower; */
                font-size: 22px;
                font-weight: 500;
    
                padding-bottom: 2px;
                padding-left: 8px;
            }
        }
        &-2 {
            width: 100%;
            height: 144px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
    
            display: flex;
            align-items: center;
            &--logo {
                margin-left: 10.4%;
                padding: 2.5px;
                border-radius: 50%;
                background-color: $banner-text-shower;
    
                display: flex;
                justify-content: center;
                align-items: center;
    
                &--image {
                border-radius: 50%;
                width: 52px;
                height: 52px;
    
                /* background-image: url("https://styles.redditmedia.com/t5_2szyo/styles/communityIcon_z7dkyeif8kzz.png"); */
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                }
            }
            &--title {
                /* color: $banner-text-shower; */
                font-size: 22px;
                font-weight: 500;
    
                padding-bottom: 2px;
                padding-left: 8px;
            }
        }
        &-3 {
            width: 100%;
            height: 208px;
            background-repeat: no-repeat;
            background-position: center top;
            background-size: cover;
    
            padding: 8px 16px;
    
            display: flex;
            align-items: center;
            &--title {
                padding-left: 52.7%;
                height: 176px;
                background-position: 50%;
                background-repeat: no-repeat;
                background-size: auto;
                width: 512px;
            }
        }
        &-4 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px 0px 14px;
            &--title {
                width: 512px;
                height: 48px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: auto;
            }
        }
        &-5 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 16px 0px;
            &--title {
                width: 512px;
                height: 112px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: auto;
            }
        }
        &-6 {
            width: 100%;
            height: 144px;
            background-position: center top;
            background-repeat: no-repeat;
            background-size: cover;
        }
        &-7 {
            width: 100%;
            height: 80px;
            background-position: center top;
            background-repeat: repeat;
            background-size: auto;
        }
        &-8 {
            width: 100%;
            height: 180px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
    
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 35px;
            &--title {
                padding-left: 52%;
                height: 112px;
                background-position: 50%;
                background-repeat: no-repeat;
                background-size: auto;
                width: 512px;
            }
        }
        &-1:hover, &-2:hover, &-3:hover, &-4:hover, &-5:hover, &-6:hover, &-7:hover, &-8:hover {
        cursor: pointer;
        }
    }
    &-links {
        width: 100%;
        /* background-color: $banner-bg-shower; */

        padding-left: 10.4%;

        display: flex;
        align-items: center;

        &--aww {
            position: relative;
            top: -40px;
            margin-bottom: -40px;
        }
        &--posts {
            /* border-bottom: 3px solid $banner-text-shower--links; */
            &--night {
                color: $night-links-text--posts !important;
                border-bottom: 3px solid $night-links-text--posts !important;
            }
            &--night:hover {
                color: $night-links-text !important;
                border-bottom: 3px solid $night-links-text !important;
            }
        }
        &--posts:hover {
            /* border-bottom: 3px solid $banner-text-shower--links--hover; */
        }
        &--other {
            border-bottom: 3px solid transparent;
            margin-left: 10px;
            &--night {
                color: $night-links-text !important;
            }
        }
        &--night {
            background-color: $night-links-bg !important;
        }
    }
    &-links > div {
        /* color: $banner-text-shower--links; */
        font-size: 14px;
        font-weight: 700;

        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 6px;
        padding-top: 9px;
    }
    &-links > div:hover {
        /* color: $banner-text-shower--links--hover; */
        cursor: pointer;
    }
}